body{
    background-color: #544F53;
}

.box1{
    display: inline-block;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.box2{
    display: inline-block;
    align-content: space-between;
}

.box3{
    display: inline-block;
    align-content: space-between;
}

img{
    display: inline-block;
    height: 300px;
    width: 250 px;
}