body{
    background-color: #544F53;
}

.box1{
    display: block;
    flex-direction: row;
    justify-content: space-between;
}

.box2{
    display: block;
}

.box2{
    display: block;
}

img{
display: block;
height: 300px;
width: 250 px;
}